<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="RESTfulAPILib.APIService">
        <endpoint address="http://localhost:23333/APIService" binding="webHttpBinding" contract="RESTfulAPILib.IAPIService" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
